body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #fafafa;
}


/* Área do banner */
header {
    position: relative;
    width: 100%;
  }


header a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
  
  /* Imagem esticada como banner */
  .banner {
    width: 100%;
    height: 250px; /* altura fixa do banner */
    object-fit: fill; /* ESTICA a imagem completamente */
    display: block;
  }
  
  /* Título sobre o banner */
  .titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  }
  
  main {
    padding: 40px 20px;
  }
  
  p {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
  }

  button {
    background-color: #ff6600; /* cor principal do botão */
    color: rgb(0, 0, 0);               /* cor do texto */
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Efeito ao passar o mouse */
  button:hover {
    background-color: #ffffff;  /* tom um pouco mais escuro */
    transform: scale(1.05);     /* leve aumento */
  }
  
  
  footer {
    height: 150px; /* altura grande */
    background-color: #e67c35; /* laranja */
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center; }

    
.rodape-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.rodape-secao {
    flex: 1 1 200px;
    margin: 10px;
}

.rodape-secao h3 {
    margin-bottom: 10px;
}

.rodape-copy {
    font-size: 0.9rem;
    opacity: 0.8;
}
